@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.container-footer {
    height: 400px;
    width: 100vw;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
}

.acessos-footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.contatos-footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    gap: 20px;
}

.contatos-footer-h2 {
    color: #ff0000;
    font-family: "Bebas Neue", sans-serif;
    font-size: 2.5rem;
}

.contatos-footer-a {
    color: #272727;
    font-family: "Bebas Neue", sans-serif;
    font-size: 1.3rem;
    transition: all 0.3s ease;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

.contatos-footer-a:hover {
    transform: translateY(-15px); 
}