@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

nav {
    width: 100vw;
    height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    background-color: #272727;
}

header img {
    height: 4rem;
}

a {
    color: aliceblue;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-size: 2rem;
}

.hidden-button {
    color: red;
}