header {
    width: 100vw;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    background-color: #272727;
}

a {
    color: aliceblue;
    font-family: Arial, Helvetica, sans-serif;
}