@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40rem;
    background-image: url('./background01.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}

.texto-brilho {
  font-size: 6rem;
  font-family: "Bebas Neue", sans-serif;
  font-weight: bold;
  color: #ff0000;  
  background: linear-gradient(to right, #ff0000 0%, #dd5454 50%, #ff0000 100%);
  background-size: 200% auto; 
  background-clip: text;
  -webkit-background-clip: text; 
  text-emphasis-color: transparent;
  -webkit-text-fill-color: transparent;
  animation: brilho 2s linear infinite;
}

@keyframes brilho {
  to {
    background-position: 200% center;
  }
}
