@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.container-missao {
    height: 700px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
    background-color: #272727;
}

.titulo-missao {
    display: flex;
    justify-content: center;
    align-items: left;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    color: #ff0000;
    padding-left: 80px;
}

.texto-missao {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 40px;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    color: #fff;
    gap: 19px;
}

.foto-missao {
    width: 37vw;
    height: auto;
    border-radius: 10px;
    border: #ff0000 1px solid;
}

@media screen and (max-width: 395px){
    .texto-missao {
        font-size: 0.9rem;
    }
}