@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.container-missao {
    height: 20rem;
    width: 100vw;
    background-color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-top: 30vh;
}

.titulo-missao {
    display: flex;
    justify-content: center ;
    align-items: center;
    padding-left: 10vh; 
}

.titulo-missao-h2 {
    font-size: 5rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    color: #ff0000;
}

.texto-missao {
    display: flex;
    justify-content: left;
    align-items: center;
    gap: 20rem;
    padding: 0 10vh 0 10vh;
}

.texto-missao p {
    font-size: 1.2rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    color: #ffffff;
    text-align: justify;
}

.foto-missao {
    margin-top: 20px;
    width: 30vw;
    height: auto;
    border-radius: 2px;
}