@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.container-valores {
    height: 700px;
    width: 100vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #272727;
}

.titulo-valores {
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Bebas Neue', sans-serif;
    font-size: 3rem;
    font-weight: 400;
    color: #ff0000;
}

.modals-group {
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    gap: 10px;
}

.modals-valores {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 140px;
}

.modals-valores-2 {
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 20px;
    margin-top: 140px;
}

@media screen and (max-width: 395px) {
    .modals-valores {
        will-change: transform;
        animation: scrolling 30s linear infinite;
    }

    .modals-valores-2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 40px;
        margin-top: 140px;
        will-change: transform;
        animation: scrolling 30s linear infinite;
    }

    @keyframes scrolling {
        0% {
            transform: translateX(0);
    }
        100% {
            transform: translateX(-100%);
    }
  }
}
