@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

.container-visao {
    height: 30rem;
    width: 100vw;
    background-color: #272727;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.titulo-visao {
    display: flex;
    justify-content: right;
    align-items: center;
    padding-right: 10vh;
}

.container-visao h2 {
    font-size: 5rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    color: #ff0000;
}

.texto-visao {
    display: flex;
    justify-content: right;
    align-items: justify;
    padding-right: 10vh;
}

.texto-visao p {
    font-size: 1.2rem;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 200;
    color: #ffffff;
    text-align: center;
}